p.bylineName {
    font-size:0.9em;
    font-weight:700;
    font-family:'Libre Franklin',sans-serif;
    padding:0;
    margin:0;
}

p.bylineInfo {
    font-size:0.8em;
    font-weight:400;
    font-family:'Libre Franklin',sans-serif;
    padding:0 0 6px 0;
    margin:0;
    color:#A9A9A9;
}

p.bylineLabel {
    text-transform:uppercase;
    font-size:0.7em;
    color:#FAA43A;
    font-weight:700;
    padding: 0;
    margin: 0;
}

img.authorMug {
    margin-top:12px;
}