h1.headline {
    font-family: 'Martel Sans' ;
      font-weight: 800;
      line-height: 1.1;
  }
  
  h2.deck {
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.688rem;
      line-height: 1.19;
      margin-bottom: 2.25rem;
  }